/* common shared styles */
body{
    font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif;
}

/* Header related styles */
.banner-content{
    background-image: url('../images/Banner\ Image.png');
    margin: 50px 140px 0px 250px ;
    border-radius: 16px;
    align-items: center;
    background-color: #ffffff;
    width: 1320px;
    height: 600px;
    background-color: linear-gradient(180deg, #080115 0%, rgba(6, 2, 16, 0) 100%); 
    background-repeat: no-repeat;
    
    
 
}
.banner-title{
    color: white;
text-align: center;
font-size: 32px;
font-weight: 400;
padding-top: 177px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner-description{
    color: white;
text-align: center;
font-size: 72px;
font-weight: 900;
margin: 0px 344px 177px 344px;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
