/* common shared styles */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container{ 
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;  
}

/* Header related styles */
.banner-content{
    background-image:linear-gradient(180deg, #080115 0%, rgba(6, 2, 16, 0) 100%), url('../images/Banner\ Image.png');
    margin-top: 50px;
    border-radius: 16px;
    align-items: center;
    background-color: #ffffff;
    height: 600px; 
    border-radius: 16px;
    background-repeat: no-repeat;
 }
.banner-title{
    color: white;
    text-align: center; 
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner-description{
    color: white;
    text-align: center; 
    font-size: 72px;
    font-weight: 900;
    margin: 0px 344px 177px 344px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* offer section styles */
.offer-section{
    font-family: Inter;
    text-align: center;

}


.offer-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0px;
}
.offer-info{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-top: 45px;
    margin-bottom: 15px;
}
.offer-description{
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0px;
}
.offer-img-section{
    max-width: 802.9px;
    margin: 48px auto;
}