/* common shared styles */
body{
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.container{ 
    width: 82%;
    max-width: 1320px;
    margin: 0 auto;  
}

/* Header related styles */
.banner-content{
    background-image:linear-gradient(180deg, #080115 0%, rgba(6, 2, 16, 0) 100%), url('../images/Banner\ Image.png');
    margin-top: 50px;
    border-radius: 16px;
    align-items: center;
    background-color: #ffffff;
    height: 600px; 
    border-radius: 16px;
    background-repeat: no-repeat;
 }
.banner-title{
    color: white;
    text-align: center; 
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.banner-description{
    color: white;
    text-align: center; 
    font-size: 72px;
    font-weight: 900;
    margin: 0px 344px 177px 344px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
